certificates:
  # name must be unique and is used for the file names
  # up to 100 FQDN or wildcard allowed

  - name: "com.domain"
    email: "info@domain.com"
    fqdn:
      - "*.domain.com"
      - "*.www.domain.com"

  # define module to use
  - name: "com.domain.dns"
    email: "info@domain.com"
    module:
      rfc2136:
        server: 10.255.255.53
        port: 53
        name: "certbot."
        secret: "*****************************************************"
        algorithm: "HMAC-SHA512"
        propagation_seconds: 30
    fqdn:
      - "*.domain.com"

  - name: "com.domain.dns.credentials"
    email: "info@domain.com"
    module:
      rfc2136:
        credentials: "/certbot/etc/com.domain.ini"
    fqdn:
      - "*.domain.com"

  # use RSA instead of ECDSA
  - name: "com.domain.rsa"
    email: "info@domain.com"
    key: rsa
    fqdn:
      - "*.domain.com"

  # call webhook
  - name: "com.domain.webhook"
    email: "info@domain.com"
    webhook: https://domain.com/certbot
    fqdn:
      - "*.domain.com"

  # call script
  - name: "com.domain.script"
    email: "info@domain.com"
    script: /certbot/scripts/vmware.horizon.uag.sh
    key: rsa
    fqdn:
      - "*.domain.com"