certificates:
  - name: "com.domain"
    email: "info@domain.com"
    fqdn:
      - domain.com
      - www.domain.com
  - name: "com.contoso"
    email: "info@contoso.com"
    dns: true
    fqdn:
      - contoso.com